<!DOCTYPE html>
<ul id="navbar">
	<li id="navTitle" class="navItem"><a href="/">Portable DJ</a></li>
	<li class="navItem"><a href="/songs">Songs</a></li>
	<li class="navItem"><a href="/users">Users</a></li>
	<li class="navItem"><a href="/logout" id="logout">Logout</a></li>
</ul> <br>