<html>
  <head>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="javascript.js"></script>
  </head>
	<body>
		<h1>Make a new User</h1>

		<form id="newUser">
			Username: <input type="text" id="username" name="username" placeholder="username"><br>
      <input id="putButton" type="submit" value="Create User" onclick="newUser()">
    </form>

    <div id="usersList"><em>Users</em><br>
      <ul id="usersUL"></ul>
    </div>
	</body>
</html>