<!DOCTYPE html>
<html>
  <head>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
  </head>
  <body>
    <% include header.ejs %>
    <div id="login">
    <h3>Login</h3>
      <form method="post" action="/login">
        <input type="text" name="username"><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
      </form>
    </div>

    <a href="/new">Create a new Account</a>

  </body>
</html>