<html>
  <head>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="../usersCrud.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
  </head>
  <body>
    <% include header.ejs %>
    <div id='usersList'>
     <% users.forEach(function(user) { %>
        <p>Name: <a href="/users/<%=user.username%>"> <%= user.username %> </a></p>
      <% }) %>
    </div>

  </body>
</html>
