h1 {
	font-family: verdana;
	margin: 15px;
}

body {
	margin-left: 5%;
	font-family: verdana
}

li {
	margin: 2px;
	cursor: pointer;
	font-size: 15px;
}

li:hover {
	color: grey;
}

ul {
	list-style-type: none;
}

a:link{
	text-decoration: none;
}

#form{
	margin: 15px;
	float: left;
}

/*Index Page*/

#slider{
	width: 15%;
	margin-bottom: 20px;
	margin-left: 31%;
}

#twosides{
	margin-bottom: 10%;
}

#side1{
	float: left;
	margin-right: 5%;
	margin-bottom: 5%;
	width: 40%;
}

#side2{
	float:left;
	margin-bottom: 5%;
	width: 40%;
}

#aud1{
	width: 80%;
}

#aud2{
	width: 80%;
}

.queue{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.queue li {
	margin: 0px;
}

#soundcloud {
	margin-top: 0%;
	margin-bottom: 10%;
}

#resultsList{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 10px;
}

#resultsList li{
	font-size: 15px;
}

#songResults{
	width: 400px;
	height: 100px;
	overflow-y: scroll;
	font-size: 10px;
	margin: 15px;
}

#SCplayer {
	margin-left: 20px;
}

#search{
	float: left;
}

#results{
	margin-bottom: 10%;
}

hr {
	margin: 3px;
}

iframe{
	height: 100px;
	width: 40%;
}
/*Header*/
#navbar {
list-style-type:none;
padding:0;
overflow: hidden;
}


#navbar a:visited, #navbar a:link {
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#navbar a:hover, #navbar a:active
{
background-color:#7A991A;
}

.navItem{
	float:left;
}




